{% extends "base.twig" %}

{% block title %}OSD: Registration{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col s12 m2"></div>
                <div class="col s12 m8 ">
                    <form class="form" method="post" id="signup-form" action="/osd/registration" onsubmit="return checkForm();">
                        <div class="card">
                            <div class="card-content">

                               <center> <span class="card-title">OPEN SOURCE DAY</span></center>

                                <div class="input-field">
                                    <input type="text" name="name" required
                                           class="validate {% if error.name %} {{ "invalid" }} {% endif %}"
                                           autocomplete="name"
                                           id="name" pattern="[a-zA-Z\s]+" value="{% if name %} {{ name }} {% endif %}"/>
                                    <label for="name">Name</label>
                                    {% if error.name %}
                                        <span class="helper-text" data-error="{{ error.name }}"></span>
                                    {% else %}
                                        <span class="helper-text" data-error="Name must contain only alphabets."></span>
                                    {% endif %}
                                </div>

                                <div class="input-field">
                                    <input type="email" name="email" required
                                           class="validate {% if error.email %} {{ "invalid" }} {% endif %}"
                                           autocomplete="email"
                                           id="email" value="{% if email %} {{ email }} {% endif %}"/>
                                    <label for="email">Email</label>
                                    {% if error.email %}
                                        <span class="helper-text" data-error="{{ error.email }}"></span>
                                    {% else %}
                                        <span class="helper-text" data-error="Invalid email"></span>
                                    {% endif %}
                                </div>

                                <div class="input-field">
                                    <input type="text" name="phone" required
                                           class="validate {% if error.phone %} {{ "invalid" }} {% endif %}"
                                           autocomplete="phone"
                                           id="phone" value="{% if phone %} {{ phone }} {% endif %}"/>
                                    <label for="phone">Phone</label>
                                    {% if error.name %}
                                        <span class="helper-text" data-error="{{ error.phone }}"></span>
                                    {% else %}
                                        <span class="helper-text" data-error="Invalid Phone Number"></span>
                                    {% endif %}
                                </div>
                                <p> Choose package: </p>

                                <div class="row center" id="package-selection">
                                    <div class="col s12 m6 package" id="package-1" onclick="choosePackage(this.id)">
                                        <span class="package-header">Package 1</span>
                                        <p><b>Cost: Rs. 100(Student)</b></p><br/>
                                        <p>Ethical Hacking Workshop</p>
                                        <p> - Lunch</p>
                                        <p> - Goodies</p>



                                    </div>
                                    <div class="col s12 m6 package" id="package-2" onclick="choosePackage(this.id)">
                                        <span class="package-header">Package 1</span>
                                        <p><b>Cost: Rs. 100(Student)</b></p><br/>
                                        <p>Github Workshop</p>
                                        <p> - Dazzle code</p>
                                        <p> - Code Debugging</p>
                                        <p> - Reverse search</p>
                                        <p> - Tech Quiz</p>
                                        <p> - Goodies</p>
                                    </div>
                                </div>

                                <input type="hidden" name="package" id="package-value" />
                                <br/>

                                <br/>
                                <div class="right-align">
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Register
                                        {#<i class="material-icons right">send</i>#}
                                    </button>
                                </div>


                            </div>
                        </div>
                    </form>
                </div>
                <div class="col s12 m2"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script>

        const checkForm = () => {
            let val = document.getElementById('package-value').value;
            if (val === '' || val === null || val === undefined) {
                $('#gen-error').text("Must select a package.")
                return false;
            }
            return true;
        };
        const choosePackage = (id) => {
            console.log("Clicked on: ", id);
            $("#"+id).addClass("selected");
            let other = getOther(id);
            $("#" + other).removeClass("selected");
            $("input#package-value").val(id);
        };
        const getOther = (current) => {
            return (current === 'package-1') ? 'package-2' : 'package-1';
        }

    </script>
{% endblock %}