{% extends "base.twig" %}

{% block title %}OSD: Registration{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col s12 m2"></div>
                <div class="col s12 m8 ">
                    <form class="form" method="post" id="signup-form" action="/osd/registration">
                        <div class="card">
                            <div class="card-content">

                                <span class="card-title">Register for OSD</span>

                                <div class="input-field">
                                    <input type="text" name="name" required
                                           class="validate {% if error.name %} {{ "invalid" }} {% endif %}"
                                           autocomplete="name"
                                           id="name" pattern="[a-zA-Z\s]+" value="{% if name %} {{ name }} {% endif %}"/>
                                    <label for="name">Name</label>
                                    {% if error.name %}
                                        <span class="helper-text" data-error="{{ error.name }}"></span>
                                    {% else %}
                                        <span class="helper-text" data-error="Name must contain only alphabets."></span>
                                    {% endif %}
                                </div>

                                <div class="input-field">
                                    <input type="email" name="email" required
                                           class="validate {% if error.email %} {{ "invalid" }} {% endif %}"
                                           autocomplete="email"
                                           id="email" value="{% if email %} {{ email }} {% endif %}"/>
                                    <label for="name">Email</label>
                                    {% if error.email %}
                                        <span class="helper-text" data-error="{{ error.email }}"></span>
                                    {% else %}
                                        <span class="helper-text" data-error="Invalid email"></span>
                                    {% endif %}
                                </div>

                                <div class="input-field">
                                    <input type="text" name="phone" required
                                           class="validate {% if error.phone %} {{ "invalid" }} {% endif %}"
                                           autocomplete="phone"
                                           id="name" value="{% if phone %} {{ phone }} {% endif %}"/>
                                    <label for="name">Phone</label>
                                    {% if error.name %}
                                        <span class="helper-text" data-error="{{ error.phone }}"></span>
                                    {% else %}
                                        <span class="helper-text" data-error="Invalid Phone Number"></span>
                                    {% endif %}
                                </div>
                                <p> Choose package: </p>

                                <div class="row center" id="package-selection">
                                    <div class="col s12 m6 package" id="package-1">
                                        <h4>Package-1</h4>
                                    </div>
                                    <div class="col s12 m6 package" id="package-2">
                                        <h4>Package-2</h4>
                                    </div>
                                </div>

                                <input type="hidden" name="package" value="x" />
                                <br/>

                                <br/>
                                <div class="right-align">
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Register
                                        {#<i class="material-icons right">send</i>#}
                                    </button>
                                </div>


                            </div>
                        </div>
                    </form>
                </div>
                <div class="col s12 m2"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script>

    </script>
{% endblock %}